.advertisement-icon {
  position: absolute;
  top: 210px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}
.component-3-child {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumseagreen);
  overflow: hidden;
}
.div,
.div1 {
  position: absolute;
  top: 71.77%;
  left: 27.6%;
}
.div1 {
  width: 100%;
  top: 90.67%;
  left: 0;
  font-size: var(--font-size-13xl);
  text-align: center;
  display: inline-block;
}
.component-3,
.component-4,
.component-5,
.component-6 {
  position: absolute;
  top: 146px;
  left: calc(50% - 620px);
  width: 250px;
  height: 418px;
}
.component-4,
.component-5,
.component-6 {
  left: calc(50% - 290px);
}
.component-5,
.component-6 {
  left: calc(50% + 40px);
}
.component-6 {
  left: calc(50% + 370px);
}
.component-3-parent {
  position: absolute;
  width: 100%;
  top: 1220px;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  height: 610px;
  overflow: hidden;
}
.popular-child,
.popular-item {
  position: absolute;
  top: 183px;
  left: calc(50% + 580px);
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.popular-item {
  left: calc(50% - 660px);
  object-fit: contain;
}
.div8,
.popular {
  position: absolute;
  top: 0;
  left: calc(50% - 121px);
}
.popular {
  top: 1270px;
  left: calc(50% - 660px);
  width: 1320px;
  height: 263px;
  font-size: var(--font-size-21xl);
  color: var(--color-gainsboro);
}
.component-2-child {
  position: absolute;
  height: 59.81%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 40.19%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray);
  overflow: hidden;
}
.component-2,
.component-31,
.component-41,
.component-51 {
  position: absolute;
  top: 89px;
  left: calc(50% - 290px);
  width: 250px;
  height: 418px;
}
.component-31,
.component-41,
.component-51 {
  left: calc(50% + 40px);
}
.component-31,
.component-51 {
  left: calc(50% + 370px);
}
.component-31 {
  left: calc(50% - 620px);
}
.div17 {
  top: 0;
  left: calc(50% - 84px);
  font-size: var(--font-size-21xl);
}
.div17,
.div18,
.new {
  position: absolute;
}
.new {
  top: 660px;
  left: calc(50% - 660px);
  width: 1320px;
  height: 507px;
  color: var(--color-black);
}
.div23,
.footer,
.search {
  position: absolute;
}
.div23 {
  height: 39.57%;
  top: 31.28%;
  left: 22px;
  display: inline-block;
  width: 62px;
}
.search {
  top: 10px;
  left: calc(50% - 419px);
  border-radius: var(--br-mid);
  background-color: var(--color-white);
  border: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 805px;
  height: 47px;
  overflow: hidden;
}
.catalog-child {
  top: calc(50% - 11px);
  right: 125px;
  width: 32px;
  height: 20px;
  object-fit: cover;
}
.catalog,
.catalog-child,
.div24 {
  position: absolute;
}
.div24 {
  top: calc(50% - 16px);
  left: calc(50% - 31.5px);
  text-transform: capitalize;
  font-weight: 900;
}
.catalog {
  top: 0;
  left: calc(50% - 620px);
  border-radius: var(--br-3xl);
  background-color: var(--color-mediumseagreen);
  width: 175px;
  height: 70px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.orders-icon,
.profile-icon,
.shopping-cart-icon {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% + 420px);
  width: 40px;
  height: 44px;
  object-fit: cover;
}
.profile-icon,
.shopping-cart-icon {
  left: calc(50% + 490px);
  width: 55px;
}
.profile-icon {
  top: calc(50% - 21px);
  left: calc(50% + 586px);
  width: 24px;
  height: 43px;
}
.header2-child {
  top: 46px;
  left: 1223px;
  width: 6px;
  height: 1px;
  overflow: hidden;
}
.books,
.header2,
.header2-child {
  position: absolute;
}
.header2 {
  height: 43.75%;
  width: 100%;
  top: 56.25%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  overflow: hidden;
}
.books {
  top: 23px;
  left: calc(50% - 620px);
  font-size: var(--font-size-17xl);
  font-family: var(--font-irish-grover);
}
.div25,
.div26,
.div27,
.div28 {
  position: absolute;
  top: 38px;
  left: calc(50% + 395px);
}
.div26,
.div27,
.div28 {
  left: calc(50% - 373px);
}
.div27,
.div28 {
  left: calc(50% - 270px);
}
.div28 {
  left: calc(50% - 174px);
}
.header,
.header1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.header1 {
  height: 56.25%;
  bottom: 43.75%;
  background-color: var(--color-black);
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.header {
  height: 160px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.main {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 2130px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
