{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12"><h3>{{ book.name }}</h3></div>
        <div class="col-12"><p>Автор: {{ book.authors }}</p></div>
        <div class="col-3"><img class="img-fluid" src="{{ url_for('static', filename='/books/' + book.image_url) }}"/></div>
        <div class="col-9">
            <p>Описание:</p>
            <p>{{ book.description }}</p>
            <p>Жанры:
            {% for genre in genres %}
                <a class="link-dark" href="#">{{ genre.name }}</a>
            {% endfor %}
            </p>
            <p>Количество страниц: {{ book.length }}.</p>
            <h4>Цена: {{ book.price }} руб.</h4>
            <form method="post" action="{{ url_for('add_to_cart', book_id=book.id) }}">
                <input type="submit" class="btn btn-success green text-light mt-3 btn-lg" value="Купить">
            </form>
        </div>
    </div>
</div>
{% endblock %}
