{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12"><h3>{{ book.name }}</h3></div>
        <div class="col-12"><p>Автор: {{ book.authors }}</p></div>
        <div class="col-3"><img class="img-fluid" src="{{ url_for('static', filename='public/book.png') }}"/></div>
        <div class="col-9">
            <p>Описание:</p>
            <p>{{ book.description }}</p>
            <p>Количество страниц: {{ book.length] }}.</p>
            <h4>Цена: {{ book.price }} руб.</h4>
        </div>
    </div>
</div>
{% endblock %}
