{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h2>Корзина</h2></div>
        <hr/>
        {% if books %}
        {% for book in books %}
          <div class="col-2 mb-4">
            <img class="img-fluid" src="{{ url_for('static', filename='/books/' + book.image_url) }}"/>
          </div>
          <div class="col-10 mb-4">
              <h3>{{ book.name }}</h3>
              <p>Автор: {{ book.authors }}</p>
              <p>Описание:</p>
              <p>{{ book.description[:300] + "..." }}</p>
              <h4>Цена: {{ book.price }} руб.</h4>
          </div>
        {% endfor %}
        <hr/>
        <div class="col-12 border-bottom my-2"></div>
        <div class="col-3 mb-5"><h2>Цена: {{ price }} руб.</h2></div>
        <form method="post" action="{{ url_for('buy_books') }}">
          <input type="submit" class="btn btn-success green text-light mt-3 btn-lg" value="Оплатить">
        </form>
        {% else %}
        <h3 class="mb-5">Ваша корзина пуста</h3>
        {% endif %}
    </div>
</div>

{% endblock %}
