{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../css/index.css" />
{% endblock %}

{% block body %}
<div class="main">
  <img
    class="advertisement-icon"
    alt=""
    src="./public/advertisement@2x.png"
  />

  <div class="component-3-parent">
    <div class="component-3">
      <div class="component-3-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
    <div class="component-4">
      <div class="component-3-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
    <div class="component-5">
      <div class="component-3-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
    <div class="component-6">
      <div class="component-3-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
  </div>
  <div class="popular">
    <img class="popular-child" alt="" src="./public/group-5@2x.png" />

    <img class="popular-item" alt="" src="./public/group-5@2x.png" />

    <div class="div8">Популярные</div>
  </div>
  <div class="new">
    <div class="component-2">
      <div class="component-2-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
    <div class="component-41">
      <div class="component-2-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
    <div class="component-51">
      <div class="component-2-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
    <div class="component-31">
      <div class="component-2-child"></div>
      <div class="div">Название</div>
      <div class="div1">Цена руб.</div>
    </div>
    <img class="popular-child" alt="" src="./public/group-5@2x.png" />

    <img class="popular-item" alt="" src="./public/group-5@2x.png" />

    <div class="div17">Новинки</div>
  </div>
  <div class="footer">
    <div class="div18">Каталог</div>
    <div class="div19">Акции</div>
    <div class="div20">Оплата</div>
    <div class="div21">О нас</div>
    <div class="div22">+9-999-999-99-99</div>
  </div>
  <div class="header">
    <div class="header2">
      <div class="search">
        <div class="div23">Поиск...</div>
      </div>
      <div class="catalog">
        <img class="catalog-child" alt="" src="./public/group-2@2x.png" />

        <div class="div24">Каталог</div>
      </div>
      <img class="orders-icon" alt="" src="./public/orders@2x.png" />

      <img
        class="shopping-cart-icon"
        alt=""
        src="./public/shopping-cart@2x.png"
      />

      <img class="profile-icon" alt="" src="./public/profile@2x.png" />

      <div class="header2-child"></div>
    </div>
    <div class="header1">
      <div class="books">101 BOOKS</div>
      <div class="div25">+9-999-999-99-99</div>
      <div class="div26">Акции</div>
      <div class="div27">О нас</div>
      <div class="div28">Оплата</div>
    </div>
  </div>
</div>
{% endblock %}
