{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">
  <div class="row">
    <div class="col-5">
      <form method="post">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 fw-normal">Войти</h1>
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
        <div class="mb-1">
          {% if field.errors %}
          {{ field.label(class='mb-1', for='field.name') }}
          {{ field(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for e in field.errors %}
            {{ e }}
            {% endfor %}
          </div>
          {% else %}
          {{ field.label(class='mb-1', for='field.name') }}
          {{ field(class='form-control') }}
          {% endif %}
        </div>
        {% endfor %}
        {% for msg in get_flashed_messages() %}
        <span class="text-danger">{{ msg }}</span>
        {% endfor %}
        {{ form.submit(class='btn btn-primary py-2 mt-3') }}
      </form>
    </div>
  </div>
</div>
{% endblock %}