{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <h2>Профиль <span class="text-secondary-emphasis">{{ current_user.get_name() }}</span></h2>
    </div>
    <hr/>
    {% if books %}
      <h3 class="mt-1 mb-4">Ваши книги</h3>
      {% for book in books %}
        <div class="col-2 mb-4">
          <img class="img-fluid" src="{{ url_for('static', filename='/books/' + book.image_url) }}"/>
        </div>
        <div class="col-10 mb-4">
            <h3>{{ book.name }}</h3>
            <p>Автор: {{ book.authors }}</p>
            <p>Описание:</p>
            <p>{{ book.description[:300] + "..." }}</p>
        </div>
      {% endfor %}
    {% else %}
      <h3 class="mb-5">Пока что вы не купили ни одной книги</h3>
    {% endif %}
  </div>
</div>

{% endblock %}
