{% extends 'admin/base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <h2>Новая книга</h2>
    <hr />
    <div class="col-6">
      <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
        <div class="mb-3">
          {% if field.errors %}
          {{ field.label(class='mb-1', for='field.name') }}
          {{ field(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for e in field.errors %}
            {{ e }}
            {% endfor %}
          </div>
          {% else %}
          {{ field.label(class='mb-1', for='field.name') }}
          {{ field(class='form-control') }}
          {% endif %}
        </div>
        {% endfor %}
        {{ form.submit(class='btn btn-sm btn-primary mr-2') }}
      </form>
    </div>
    <div class="col-6"></div>
  </div>
  <hr />
</div>
{% endblock %}